@using OnlineBankingApp.Core.ViewModels.Card;
@model CardViewModel

<div class="text-center row">

    <div class="card col-4" style="width: 20rem; ">
        <div class="card-body">

            <h5 class="card-title mt-1">@Model.Number</h5>
            <p class="mb-0">@Model.Balance</p>
            <a asp-area="" asp-controller="Transaction" asp-action="Deposit" asp-route-cardId="@Model.Id"
               class="btn btn-info">Deposit</a>
            <a asp-area="" asp-controller="Transaction" asp-action="Withdraw" asp-route-cardId="@Model.Id"
               class="btn btn-info">Withdraw</a>
            <a asp-area="" asp-controller="Transaction" asp-action="Send" asp-route-cardId="@Model.Id"
               class="btn btn-info">Send</a>
        </div>
    </div>

</div>