@using OnlineBankingApp.Core.ViewModels.User
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<style>
    .register-container {
        margin: 0 auto;
        background-color: white;
        width: 300px;
        min-width: 300px;
        max-width: 350px;
        border-radius: 15px;
        padding: 0 5px 5px 5px;
        box-shadow: 0px 0px 15px 4px rgba(61,27,79,0.8);
    }

    h1 {
        margin: 5px auto -10px auto;
        background-color: white;
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        border-radius: 15px;
        padding: 0 5px 5px 5px;
        text-align: center;
        align-items: center;
        box-shadow: 0px 0px 15px 4px rgba(61,27,79,0.8);
    }

</style>

<h1>@ViewData["Title"]</h1>

<div class="register-container">
        <form id="registerForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="@Model.FirstName">First Name</label>
                <input class="form-control " autocomplete="firstname" aria-required="true" asp-for="@Model.FirstName" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.LastName">Last Name</label>
                <input class="form-control " autocomplete="lastname" aria-required="true" asp-for="@Model.LastName" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Email">Email</label>
                <input class="form-control " autocomplete="email" aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Password">Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center">
            <button class="user-btn" type="submit">Register</button>
            </div>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}